@media (max-width:991px) {
    .header-main .hero h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 1.4
    }
}


@media (max-width:767px) {

.header-main {
     background-color: #FEFEFE;
}

section .section-title {
	font-size: 25px;
}
	
.service .service-heading {
	text-align: left;
}

.service .service-icon {
	margin-top: 45px;
}


.navbar-collapse {
	background: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	position: fixed;
	right: 15px;
	top: 135px;
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
}

.navitem-collapse-minimal{
	top:60px;
}

.nav-item{
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-item:hover{
	background-color: #f2f2f2;
}

.header-btn-close{
	right: 0%;
	top: 0%;
}

.header-main .navbar .navbar-nav .open .dropdown-menu {
	box-shadow: none;
	background: 0 0;
	color: #fff
}
.header-main .navbar .navbar-nav .open .dropdown-menu>li>a {
	color: #fdfeff;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 1
}

.header-main .hero {
	margin-top: 0;
	text-align: center
}

.header-main .hero h1 {
	margin-top: 50px;
	font-size: 25px
}

.header-main .hero p {
	margin-top: 50px
}

.header-main .hero h1 {
	font-size: 25px;
	margin-bottom: 10px;
	color: #333333
}

#work-process .text-justify {
	text-align: center
}
#work-process .divider {
	margin-right: auto;
	margin-left: auto
}
.work-process .item {
	margin: 0 auto;
	width: 200px;
	height: 132px
}
.work-process .item:before {
	position: absolute;
	z-index: 10;
	content: '';
	bottom: 0;
	left: 0;
	width: 1px;
	height: 100%;
	margin-bottom: -66px;
	border-left: 1px dashed #6e6e6e
}

.work-process .item>i.the-arrow-icon.icon-step-up {
	left: 0;
	margin-left: -25px;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.work-process .item.last:before {
	display: none
}

.footer {
	padding: 0
}

.footer-bottom span {
	font-size: 10px
}

/** Product CSS **/

.product h1{
    font-size: 25px;
}




}


@media (min-width:768px) {
    .work-process {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 15px
    }

	.work-process .item .inner-content {
        margin-top: 102px;
        height: 102px
    }

	.work-process .item .inner-content:after {
        margin-top: -102px
    }

	.work-process .item .inner-content>span.title {
        margin-top: -33px
    }

	.work-process .item>i.the-arrow-icon.icon-step-down {
        margin-top: 25px
    }
    .work-process .item>i.the-arrow-icon.icon-step-up {
        margin-top: -25px
    }
    .work-process .item.last .inner-content>span.dot {
        right: 0;
        left: auto
    }
    .work-process .item.no-margin .inner-content>span.title {
        top: auto;
        bottom: 0;
        margin-bottom: -33px
    }

	.work-process .item.last .inner-content:before {
        left: auto;
        right: 0
    }
    .work-process .item.no-margin:before {
        display: none
    }

	.cd-top {
        right: 20px;
        bottom: 20px
    }
	
}

@media only screen and (min-width:1024px) {
    .cd-top {
        height: 35px;
        width: 35px;
        right: 20px;
        bottom: 20px
    }
}

@media only screen and (min-width:1024px) {
    .cd-top {
        height: 35px;
        width: 35px;
        right: 20px;
        bottom: 20px
    }
}


@media (max-width:767px) {

}

@media (max-width:767px) {

}